spring:
  application:
    name: management-de-inventory

  datasource:
    url: jdbc:postgresql://localhost:5432/inventory_management
    username: postgres
    password: admin123

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

server:
  port: 8080