spring:
  application:
    name: gerenciamento-de-insumos

  datasource:
    url: jdbc:postgresql://localhost:5432/gerenciamento_de_insumos
    username: postgres
    password: admin123

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

server:
  port: 8080